  /*
  ==========================================
     Formulaire d'inscription
  ==========================================
  */

  .inscrip {
    color: var(--primary-color);
    text-decoration: none;
  }

  .inscrip:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }

  .password + .unmask {
    position:absolute;
    right: 68px; top: 7px;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
    background: #aaa;
    border-radius: 50%;
  }
  .password + .unmask:before {
    content: "";
    position:absolute;
    top:4px; left:4px;
    z-index:1;
    width: 17px;
    height: 17px;
    background: #e3e3e3;
    border-radius: 50%;
  }

  .password[type="text"] + .unmask:after {
    content: "";
    position:absolute;
    top:6px; left:6px;
    z-index:2;
    width: 13px;
    height: 13px;
    background: #aaa;
    border-radius: 50%;
  }

  .lblCon {
    position: relative!important;
  }

  .lblCon input {
      transition: all 0.2s;
  }

  .lblCon .password-icon {
      display: flex;
      align-items: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      transition: all 0.2s;
      right: 20px;
      color: #000;
  }

  .lblCon .password-icon .bx-low-vision{
      display: none;
  }

  .lblCon .password-icon:hover {
      cursor: pointer;
  }

/*===== Variables Definies =====*/
  :root {
    --primary-color: #ff553e;
    --secondary-color: #333;
    --white-color: #fff;
    --black-color: #000;
  }

  .color-perso {
    color: var(--primary-color);
  }
  
  .color-perso:hover {
    color: var(--primary-color);
  }

  .italic {
    font-style: italic;
  }

  .gras {
    font-style: bold;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-size: 100%;
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
  }
  
  /*
  =========================================
      Scrollbar personalisée
  =========================================
  */
  
  ::-webkit-scrollbar {
    width: 0.3125rem;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--white-color);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
  }
  
  /*
  ==========================================
      Design CSS personnalisée
  ==========================================
  */
  
  h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--white-color);
  }
  
  h2 {
    font-weight: 600;
    font-size: 1.5625rem;
    text-transform: capitalize;
    color: var(--white-color);
    line-height: 2.5rem;
  }
  
  h4 {
    color: var(--white-color);
    text-transform: capitalize;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 0.9375rem;
    transition: all .3s linear;
  }
  
  h5 {
    color: var(--white-color);
    text-transform: capitalize;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.0625rem;
    opacity: 0.8;
  }
  
  .main-btn {
    height: 40px;
    line-height: 40px;
    font-size: 1.125rem;
    display: inline-block;
    color: var(--white-color);
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 30px;
    position: relative;
  }
  
  .main-btn::after,
  .main-btn::before {
    position: absolute;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }
  
  .main-btn::after {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
  }
  
  .main-btn:hover::before {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    background-color: var(--primary-color);
  }
  
  .main-btn:hover::after {
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    background-color: var(--primary-color);
  }
  
  .main-btn:hover {
    color: var(--primary-color) !important;
  }
  
  .wrapper {
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-color: var(--secondary-color);
  }
  
  .text-content {
    width: 60%;
    margin: auto;
  }
  
  /*
  ==========================================
      Design bannière supérieur
  ==========================================
  */
   
  #home .carousel-caption{
    top:12rem;
  }

  #home .carousel-caption p{
    max-width: 36.25rem;
    margin:1.0625rem auto;
  }

  /*
  ==========================================
      Section design des nouveautés
  ==========================================
*/
.new-arrivals .banner-info{
    bottom:30px;
    margin:auto;
    width:100%;
    position:absolute;
    padding:0 15px;
  }

  .new-arrivals .card-banner:nth-child(2) h2,
  .new-arrivals .card-banner:nth-child(2) p,
  .new-arrivals .card-banner:nth-child(2) a{
    color:var(--black-color);
  }

  .new-arrivals .card-banner:nth-child(2) a::before,
  .new-arrivals .card-banner:nth-child(2) a::after{
    background-color:var(--black-color);
  }
  
  .new-arrivals .card-banner .card-thumb,
  .products .item-product{
    position:relative;
    display:block;
    overflow: hidden;
  }

  .new-arrivals .card-banner .card-thumb img,
  .products .item-product img{
    transition: all .5s ease-out 0s;
  }

  .new-arrivals .card-banner .card-thumb img:hover,
  .products .item-product img:hover{
    transform:scale(1.2);
    opacity:0.6;
  }
  
  /*
  ==========================================
      Partie produits boutique
  ==========================================
  */
  #Progress_Status {
    width: 90%;
    background-color: rgb(54, 54, 54);
    margin-bottom: 10px;
    margin-left: 5%;
  }
    
  .myprogressBar {
    width: 1%;
    height: 8px;
    background-color: rgb(34, 34, 34);
    text-align: center;
    line-height: 32px;
    color: black;
    border-radius: 10px;
    justify-content: center;
  }

  .imgToast {
    width: 8%;
  }

  #Progress_StatusE {
    width: 90%;
    background-color: #b11b1b;
    margin-bottom: 10px;
    margin-left: 5%;
  }
    
  .myprogressBarE {
    width: 1%;
    height: 10px;
    background-color: #751b1b;
    text-align: center;
    line-height: 32px;
    color: black;
    border-radius: 10px;
    justify-content: center;
  }

  .btnfav {
    background-color: #000;
    color: #000;
    display: block;
    outline: none;
    border: none;
  }

  .products .wrapper{
    background-color:var(--black-color);
  }
  
  .products .nav-tabs{
    border:0;
    justify-content: center;
  }

  .products .nav-tabs .nav-link{
    display:block;
    padding:0 30px;
    border: 1px solid var(--white-color);
    border-radius: 20px;
    background-color: var(--black-color);
    color:var(--white-color);
    height:36px;
    margin:10px;
    line-height: 34px;
    text-transform: uppercase;
  } 

  .products .product-info .cat-parent,
  .products .product-info .whishlist i {
    font-size: 0.875rem;
    color:var(--white-color);
    opacity: 0.6;
    text-transform: uppercase;
  }

  .products .product-title a{
    margin: 0 0 7px;
    display:block;
    color:var(--white-color);
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
  }

  .products .rating i{
    color:#f4d632
  }

  .basket i.fa-shopping-basket{
    color:var(--white-color);
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  .basket i.ruptS{
    color: gray;
    cursor: auto;
  }

  .basket i.fa-shopping-basket:hover{
    color: gray;
    transition: all 0.3s ease 0s;
  }

  .heart i.fa-heart {
    color:white;
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  .heart i.fa-heart:hover {
    color: red;
  }

  .heart-fav i.fa-heart:hover {
    color: white;
    transition: all 0.3s ease 0s;

  }

  .heart-fav i.fa-heart {
    color: red;
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  .sauv {
    text-decoration: none;
  }

  .sauv i:hover {
    color: red;
  }

  .sauv a:hover {
    color : white;
  }

  .btnb {
    color: #ff553e;
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition: .4s;
    text-decoration: none;
  }

  .btnb:hover {
    color: white;
    transform: translateX(-12px);
  }

  .info {
    font-size: 12px;
  }

  /*
  ==========================================
      Page descritpion
  ==========================================
  */
  .btnfavoris {
    transition: .4s;
    display: inline-block;
    padding: 10px 20px;
    background: #c52222;
    color: #fff;
    border-radius: 0.5rem;
    text-decoration: none;
    border: none;
  }

  .btnfavoris:hover {
    transform: scale(1.1);
    background: #9e1414;
    transition: 0.4s;
    color: white;
  }

  .btnpanier {
    transition: .4s;
    display: inline-block;
    padding: 10px 20px;
    background: #0f9115;
    color: #fff;
    border-radius: 0.5rem;
    text-decoration: none;
    border: none;
  }

  .btnpanier:hover {
    transform: scale(1.1);
    background: #0d7912;
    transition: 0.4s;
    color: white;
  }

  .pageP {
    margin-bottom: 11%;
  }

  .pageH {
    margin-top: 12%;
  }

  /*
  ==========================================
    Page panier
  ==========================================
  */
  .qtePanier {
    width: 50px;
  }

  a .bouton-vert {
    background-color: green;
    width: 60%;
    transition: .4s;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 0.5rem;
    text-decoration: none;
  }

  .colorGreen {
    background-color: rgb(26, 112, 26);
  }

  .colorSite {
    background-color: rgb(54, 54, 54);
  }

  .colorRed {
    background-color: #b11b1b;
  }

  /*
  ==========================================
    Page paiement
  ==========================================
  */
  .bouton-cmd {
    background-color: green;
    width: 60%;
    transition: .4s;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 0.5rem;
    text-decoration: none;
    border: none;
   }
  
  .bouton-cmd:hover {
      transform: scale(1.1);
      background: #1c610e;
      transition: 0.4s;
      color: white;
  }


  /*
  ==========================================
    Page paiement
  ==========================================
  */
  .lblU {
    position: relative!important;
  }

  .lblU input {
      transition: all 0.2s;
  }

  .lblU .password-icon {
      display: flex;
      align-items: center;
      position: absolute;
      top: 30%;
      transform: translateY(-30%);
      width: 20px;
      transition: all 0.2s;
      right: 20px;
      color: #000;
  }

  .lblU .password-icon .bx-low-vision{
      display: none;
  }

  .lblU .password-icon:hover {
      cursor: pointer;
  }

  /*
  ==========================================
    Design blog
  ==========================================
  */
  .blog-section {
    background-color:var(--black-color);
  } 

  .btna {
    transition: .4s;
    display: inline-block;
    padding: 10px 20px;
    background: #ff553e;
    color: #fff;
    border-radius: 0.5rem;
    text-decoration: none;
  }

  .btna:hover {
      transform: scale(1.2) translateY(10px);
      transition: 0.4s;
      color: white;
  }

  /*
  ==========================================
    Design detail cmd
  ==========================================
  */

  .dtlImg {
    width: 60%;
  }

  /*
  ==========================================
    Design banniere cookie
  ==========================================
  */
  .banniere {
    border-top: solid 2px rgb(145, 132, 132);
    background: rgb(15, 15, 15); 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 18px;
    align-items: center;
    z-index: 1;
  }

  .banniere-text {
    color: rgb(255, 255, 255);
  }

  .btAcc {
    border: var(--primary-color);
    padding: 10px;
    background: var(--primary-color);
    border-radius: 7px;
    color: white;
    text-decoration: none;
    transition: 0.4s;
  }

  .btAcc:hover {
    background: #ff4931c7;
    transition: 0.4s;
    color: white;
  }

  .btRef {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 7px;
    color: white;
    text-decoration: none;
  }

  .btRef:hover {
    color: white;
  }

  .banniere-img {
    width: 4%;
  }

  .gest-cookie {
    background: rgb(15, 15, 15); 
    position: fixed;
    bottom: 11%;
    right: 6%;
    padding: 15px;
    z-index: 1;
  }

  /*
  ==========================================
    Design bootsrap table
  ==========================================
  */
  .bootstrap-table .fixed-table-container .fixed-table-body {
    height: auto!important;
  }

  .pagination-detail {
      visibility: hidden!important;
  }

  .active>.page-link, .page-link.active {
      background-color: var(--primary-color)!important;
      border-color: var(--primary-color)!important;
  }

  .page-link {
      color: var(--primary-color);
  }

  .page-link:hover {
    background: var(--secondary-color)!important;
  }

  .tableDash {
    border: solid 2px;
    border-radius: 25px;
    padding: 20px;
  }

  .actionsEdit {
      color: blue;
      text-decoration: none;
      font-size: 18px;
  }

  .actionsEdit:hover {
    color: blue;
}

  .actionsDelete {
      color: red;
      text-decoration: none;
      font-size: 18px;
      cursor: pointer;
  }

  .modal-confirm {		
    color: #636363;
    width: 400px;
  }
  .modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
  }
  .modal-confirm .modal-header {
    border-bottom: none;   
    position: relative;
  }
  .modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
  }
  .modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
    border: none;
    font-size: 18px;
  }
  .modal-confirm .modal-body {
    color: #999;
      font-size: 16px;
  }
  .modal-confirm .modal-footer {
    border: none;
    text-align: center;		
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
  }
  .modal-confirm .modal-footer a {
    color: #999;
  }		
  .modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
  }
  .modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
  }
  .modal-confirm .icon-boxA {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid green;
  }
  .modal-confirm .icon-boxA i {
    color: green;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
  }
  .modal-confirm .btn, .modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
  }
  .modal-confirm .btn-secondary {
    background: #c1c1c1;
  }
  .modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
    background: #a8a8a8;
  }
  .modal-confirm .btn-danger {
    background: #f15e5e;
  }
  .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
    background: #ee3535;
  }

  .btnBlue {
    transition: .4s;
    display: inline-block;
    background: #2f73b6;
    border: none;
    border-radius: 1rem;
    padding: 10px 20px;
    color: var(--white-color);
    text-decoration: none;
  }

  .btnBlue:hover {
      transform: scale(1.2);
      transition: 0.4s;
      color: white;
  }

  .btnRed { 
      transition: .4s;
      display: inline-block;
      background: red;
      border: none;
      border-radius: 1rem;
      padding: 10px 20px;
      color: var(--white-color);
      text-decoration: none;
  }

  .btnRed:hover {
      transform: scale(1.2);
      transition: 0.4s;
      color: white;
  }

  .btnOrange { 
      transition: .4s;
      display: inline-block;
      background: orangered;
      border: none;
      border-radius: 1rem;
      padding: 10px 20px;
      color: var(--white-color);
      text-decoration: none;
  }

  .btnOrange:hover {
      transform: scale(1.2);
      transition: 0.4s;
      color: white;
  }

  .btnGreen {
      transition: .4s;
      display: inline-block;
      background: green;
      border: none;
      border-radius: 1rem;
      padding: 10px 20px;
      color: var(--white-color);
      text-decoration: none;
  }

  .btnGreen:hover {
      transform: scale(1.2);
      transition: 0.4s;
      color: white;
  }


  /*
  ==========================================
    Design section footer
  ==========================================
  */
  .footer {
    background-color:var(--secondary-color);
  } 

  .footer .footer-social a i {
    font-size: 1.5rem;
    color:var(--white-color);
    padding:0 1rem;
  }
  
  .footer .footer-social a:hover i {
    color:var(--primary-color);
  }

  ul .liens {
    color:#ff553e;;
    text-decoration: none;
    margin-left: 10px;
  }
  
  ul .liens:hover {
    text-decoration: underline;
  }

  #footer-copyright {
    background-color: rgba(0, 0, 0, 0.2);
  }

  /*
  ==========================================
    Résolution d'écran persna
  ==========================================
  */
  
  @media (max-width: 1399px) {
    /* Custom CSS */
    p .card-text {
      font-size: 10px;
    }

    h2 {
        font-size: 1.125rem;
        line-height: 1.5625rem;
    } 
    .wrapper {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
  }

  @media (max-width: 1024px) {
      /* Custom CSS */
      h1 {
          font-size: 3.25rem;
      }
  
      h2 {
          font-size: 1.125rem;
          line-height: 1.5625rem;
      } 
      .wrapper {
          padding-top: 1.25rem;
          padding-bottom: 1.25rem;
      }
  }
  
  @media (max-width: 991px) {
      /* Custom CSS */
  
      h4 {
          font-size: 0.9375rem;
          margin-bottom: 0.625rem
      }
  
      p {
          font-size: 0.875rem;
          line-height: 1.3125rem;
      }

      .text-content {
          width: 100%;
      }
  
      /* navbar brand */
      .navigation-wrap .navbar-brand img{
          height:2.8125rem;
      }
      .navbar-toggler i{
          color:var(--white-color);
          line-height: 2;
      }
      .navigation-wrap{
          text-align: right;
          background-color:var(--black-color);
      }
      .navigation-wrap .nav-link{
          line-height: 1.875rem;
      } 
  
      /* Banner Design */
        #home{
            padding:4.375rem 0 0;
        } 
  
      /* top banner */
      #home .carousel-caption {
          top:3.5rem;
      }
       
  }
  
  @media(max-width:575px) {
      /* Custom CSS */
      h1 {
          font-size: 1.25rem;
      }
  
      h2 {
          font-size: 1rem;
          line-height: 1rem;
          margin-bottom: 5px;
      }
      .main-btn {
          height: 20px;
          line-height: 20px;
          font-size: 0.9375rem;
      }  
      .main-btn::after {
          transform: translateY(0.9375rem);
          -webkit-transform: translateY(0.9375rem);
      } 
      .main-btn::before {
          transform: translateY(-0.9375rem);
          -webkit-transform: translateY(-0.9375rem);
      }
  
      /* top banner */
      #home .carousel-caption {
          top:1.5rem;
      }
      #home .carousel-caption p {
          margin:5px auto;
      }

      .features--image {
        width: 100%;
      }
       
      
  }
  
  @media (max-width: 430px) {
      /* Custom CSS */
      h1 {
          margin-bottom: 0;
      }
  
      /* Top Banner */
      .top-header{
          display:none;
      }
      #home .carousel-caption p{
          font-size: 0.75rem;
          line-height: 1.125rem;
      }
      #home .carousel-caption {
          padding:0;
      }
       
  }
  
  @media (max-width: 360px) {
      /* Top Banner */
      #home .carousel-caption {
          top:1rem;
      }
       
  }