# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^connexion/$   index.php?controller=client&action=testConnexion [nc]
RewriteRule ^inscription/$   index.php?controller=client&action=testInscription [nc]
RewriteRule ^nft/$   index.php?controller=view&action=nft [nc]
RewriteRule ^conditions/$   index.php?controller=view&action=conditions [nc]
RewriteRule ^cookies/$   index.php?controller=view&action=cookies [nc]
RewriteRule ^mentions/$   index.php?controller=view&action=mentions [nc]
RewriteRule ^politique/$   index.php?controller=view&action=politique [nc]
RewriteRule ^ventes/$   index.php?controller=view&action=ventes [nc]
RewriteRule ^deconnexion/$   index.php?controller=view&action=deconnexion [nc]
RewriteRule ^erreur/$   index.php?controller=view&action=erreur [nc]
RewriteRule ^boutique/$   index.php?controller=nft&action=readAll [nc]
RewriteRule ^boutique/([0-9]+)/$   index.php?controller=nft&action=readAll&page=$1 [nc,qsa]
RewriteRule ^boutique/recherche/([\w\s]+)/$   index.php?controller=nft&action=readAll&search=$1 [B,PT]
RewriteRule ^boutique/recherche/([a-zA-Z]+)/([0-9]+)/$   index.php?controller=nft&action=readAll&search=$1&page=$2 [nc,qsa]
RewriteRule ^boutique/nouveau/$   index.php?controller=nft&action=readAll&filtreDate=DESC [nc]
RewriteRule ^boutique/nouveau/([0-9]+)/$   index.php?controller=nft&action=readAll&filtreDate=DESC&page=$1 [nc,qsa]
RewriteRule ^boutique/croissant/$   index.php?controller=nft&action=readAll&filtrePrix=ASC [nc]
RewriteRule ^boutique/croissant/([0-9]+)/$   index.php?controller=nft&action=readAll&filtrePrix=ASC&page=$1 [nc,qsa]
RewriteRule ^boutique/decroissant/$   index.php?controller=nft&action=readAll&filtrePrix=DESC [nc]
RewriteRule ^boutique/decroissant/([0-9]+)/$   index.php?controller=nft&action=readAll&filtrePrix=DESC&page=$1 [nc,qsa]
RewriteRule ^boutique/shiba-club/$   index.php?controller=nft&action=readAll&filtreCateg=shiba-club [nc,qsa]
RewriteRule ^boutique/shiba-club/([0-9]+)/$   index.php?controller=nft&action=readAll&filtreCateg=shiba-club&page=$1 [nc,qsa]
RewriteRule ^boutique/baby-shiba-club/$   index.php?controller=nft&action=readAll&filtreCateg=baby-shiba-club [nc,qsa]
RewriteRule ^boutique/baby-shiba-club/([0-9]+)/$   index.php?controller=nft&action=readAll&filtreCateg=baby-shiba-club&page=$1 [nc,qsa]
RewriteRule ^description/([0-9]+)/$   index.php?controller=nft&action=readDescription&idP=$1 [nc,qsa]
RewriteRule ^commandes/$   index.php?controller=commande&action=readCmd [nc]
RewriteRule ^commandes/([0-9]+)/$   index.php?controller=nft&action=readNftCmd&id=$1 [nc,qsa]
RewriteRule ^mot-de-passe-oublié/$   index.php?controller=client&action=mdpOublie [nc]
RewriteRule ^mot-de-passe-oublié-code/$   index.php?controller=client&action=mdpCode [nc]
RewriteRule ^change-mot-de-passe/$   index.php?controller=client&action=mdpChange [nc]
RewriteRule ^mon-compte/$   index.php?controller=client&action=readAccount [nc]
RewriteRule ^panier/$   index.php?controller=nft&action=readPanier [nc]
RewriteRule ^favoris/$   index.php?controller=nft&action=readFavoris [nc]
RewriteRule ^paiement/$   index.php?controller=nft&action=readPaiement [nc]
RewriteRule ^confirmation-commande/([0-9]+)/$   index.php?controller=commande&action=confirmCmd&idCmd=$1 [nc,qsa]
RewriteRule ^panier/del([0-9]+)/$   index.php?controller=nft&action=readPanier&delPanier=$1 [nc,qsa]
RewriteRule ^panier/qte([0-9]+)/id([0-9]+)/$   index.php?controller=nft&action=readPanier&qtePanier=$1&id=$2 [nc,qsa]
RewriteRule ^boutique/add([0-9]+)/$   index.php?controller=nft&action=readAll&id=$1 [nc,qsa]
RewriteRule ^boutique/baby-shiba-club/add([0-9]+)/$   index.php?controller=nft&action=readAll&filtreCateg=baby-shiba-club&id=$1 [nc,qsa]
RewriteRule ^boutique/shiba-club/add([0-9]+)/$   index.php?controller=nft&action=readAll&filtreCateg=baby-shiba-club&id=$1 [nc,qsa]
RewriteRule ^boutique/baby-shiba-club/([0-9]+)/add([0-9]+)/$   index.php?controller=nft&action=readAll&filtreCateg=baby-shiba-club&page=$1&id=$2 [nc,qsa]
RewriteRule ^boutique/shiba-club/([0-9]+)/add([0-9]+)/$   index.php?controller=nft&action=readAll&filtreCateg=shiba-club&page=$1&id=$2 [nc,qsa]
RewriteRule ^boutique/nouveau/add([0-9]+)/$   index.php?controller=nft&action=readAll&filtreDate=DESC&id=$1 [nc,qsa]
RewriteRule ^boutique/nouveau/([0-9]+)/add([0-9]+)/$   index.php?controller=nft&action=readAll&filtreDate=DESC&page=$1&id=$2 [nc,qsa]
RewriteRule ^boutique/croissant/add([0-9]+)/$   index.php?controller=nft&action=readAll&filtrePrix=ASC&id=$1 [nc,qsa]
RewriteRule ^boutique/croissant/([0-9]+)/add([0-9]+)/$   index.php?controller=nft&action=readAll&filtrePrix=ASC&page=$1&id=$2 [nc,qsa]
RewriteRule ^boutique/decroissant/add([0-9]+)/$   index.php?controller=nft&action=readAll&filtrePrix=DESC&id=$1 [nc,qsa]
RewriteRule ^boutique/decroissant/([0-9]+)/add([0-9]+)/$   index.php?controller=nft&action=readAll&filtrePrix=DESC&page=$1&id=$1 [nc,qsa]
RewriteRule ^boutique/recherche/([\w\s]+)/add([0-9]+)/$   index.php?controller=nft&action=readAll&search=$1&id=$2 [B,PT]
RewriteRule ^boutique/recherche/([a-zA-Z]+)/([0-9]+)/add([0-9]+)/$   index.php?controller=nft&action=readAll&search=$1&page=$2&id=$3 [B,PT]
RewriteRule ^boutique/recherche/([\w\s]+)/addF([0-9]+)/$   index.php?controller=nft&action=readAll&search=$1&idF=$2 [B,PT]
RewriteRule ^boutique/recherche/([a-zA-Z]+)/([0-9]+)/addF([0-9]+)/$   index.php?controller=nft&action=readAll&search=$1&page=$2&idF=$3 [B,PT]
RewriteRule ^boutique/recherche/([\w\s]+)/delF([0-9]+)/$   index.php?controller=nft&action=readAll&search=$1&delF=$2 [B,PT]
RewriteRule ^boutique/recherche/([a-zA-Z]+)/([0-9]+)/delF([0-9]+)/$   index.php?controller=nft&action=readAll&search=$1&page=$2&delF=$3 [B,PT]
RewriteRule ^boutique/baby-shiba-club/addF([0-9]+)/$   index.php?controller=nft&action=readAll&filtreCateg=baby-shiba-club&idF=$1 [nc,qsa]
RewriteRule ^boutique/baby-shiba-club/delF([0-9]+)/$   index.php?controller=nft&action=readAll&filtreCateg=baby-shiba-club&delF=$1 [nc,qsa]
RewriteRule ^boutique/shiba-club/addF([0-9]+)/$   index.php?controller=nft&action=readAll&filtreCateg=baby-shiba-club&idF=$1 [nc,qsa]
RewriteRule ^boutique/shiba-club/delF([0-9]+)/$   index.php?controller=nft&action=readAll&filtreCateg=baby-shiba-club&delF=$1 [nc,qsa]
RewriteRule ^boutique/baby-shiba-club/([0-9]+)/addF([0-9]+)/$   index.php?controller=nft&action=readAll&filtreCateg=baby-shiba-club&page=$1&idF=$2 [nc,qsa]
RewriteRule ^boutique/baby-shiba-club/([0-9]+)/delF([0-9]+)/$   index.php?controller=nft&action=readAll&filtreCateg=baby-shiba-club&page=$1&delF=$2 [nc,qsa]
RewriteRule ^boutique/shiba-club/([0-9]+)/addF([0-9]+)/$   index.php?controller=nft&action=readAll&filtreCateg=shiba-club&page=$1&idF=$2 [nc,qsa]
RewriteRule ^boutique/shiba-club/([0-9]+)/delF([0-9]+)/$   index.php?controller=nft&action=readAll&filtreCateg=shiba-club&page=$1&delF=$2 [nc,qsa]
RewriteRule ^boutique/nouveau/addF([0-9]+)/$   index.php?controller=nft&action=readAll&filtreDate=DESC&idF=$1 [nc,qsa]
RewriteRule ^boutique/nouveau/delF([0-9]+)/$   index.php?controller=nft&action=readAll&filtreDate=DESC&delF=$1 [nc,qsa]
RewriteRule ^boutique/nouveau/([0-9]+)/addF([0-9]+)/$   index.php?controller=nft&action=readAll&filtreDate=DESC&page=$1&idF=$2 [nc,qsa]
RewriteRule ^boutique/nouveau/([0-9]+)/delF([0-9]+)/$   index.php?controller=nft&action=readAll&filtreDate=DESC&page=$1&delF=$2 [nc,qsa]
RewriteRule ^boutique/croissant/addF([0-9]+)/$   index.php?controller=nft&action=readAll&filtrePrix=ASC&idF=$1 [nc,qsa]
RewriteRule ^boutique/croissant/delF([0-9]+)/$   index.php?controller=nft&action=readAll&filtrePrix=ASC&delF=$1 [nc,qsa]
RewriteRule ^boutique/croissant/([0-9]+)/addF([0-9]+)/$   index.php?controller=nft&action=readAll&filtrePrix=ASC&page=$1&idF=$2 [nc,qsa]
RewriteRule ^boutique/croissant/([0-9]+)/delF([0-9]+)/$   index.php?controller=nft&action=readAll&filtrePrix=ASC&page=$1&delF=$2 [nc,qsa]
RewriteRule ^boutique/decroissant/addF([0-9]+)/$   index.php?controller=nft&action=readAll&filtrePrix=DESC&idF=$1 [nc,qsa]
RewriteRule ^boutique/decroissant/delF([0-9]+)/$   index.php?controller=nft&action=readAll&filtrePrix=DESC&delF=$1 [nc,qsa]
RewriteRule ^boutique/decroissant/([0-9]+)/addF([0-9]+)/$   index.php?controller=nft&action=readAll&filtrePrix=DESC&page=$1&idF=$1 [nc,qsa]
RewriteRule ^boutique/decroissant/([0-9]+)/delF([0-9]+)/$   index.php?controller=nft&action=readAll&filtrePrix=DESC&page=$1&delF=$1 [nc,qsa]
RewriteRule ^boutique/([0-9]+)/add([0-9]+)/$   index.php?controller=nft&action=readAll&page=$1&id=$2 [nc,qsa]
RewriteRule ^description/([0-9]+)/addP([0-9]+)/$   index.php?controller=nft&action=readAll&idP=$1&id=$2 [nc,qsa]
RewriteRule ^description/([0-9]+)/addF([0-9]+)/$   index.php?controller=nft&action=readAll&idP=$1&idF=$2 [nc,qsa]
RewriteRule ^boutique/addF([0-9]+)/$   index.php?controller=nft&action=readAll&idF=$1 [nc,qsa]
RewriteRule ^boutique/delF([0-9]+)/$   index.php?controller=nft&action=readAll&delF=$1 [nc,qsa]
RewriteRule ^boutique/([0-9]+)/addF([0-9]+)/$   index.php?controller=nft&action=readAll&page=$1&idF=$2 [nc,qsa]
RewriteRule ^favoris/del([0-9]+)/$   index.php?controller=nft&action=readFavoris&delFavoris=$1 [nc,qsa]
RewriteRule ^favoris/addP([0-9]+)/$   index.php?controller=nft&action=readFavoris&id=$1 [nc,qsa]
RewriteRule ^panier/addF([0-9]+)/$   index.php?controller=nft&action=addFav&idF=$1 [nc,qsa]
RewriteRule ^produit/$   index.php?controller=nft&action=show [nc]
RewriteRule ^produit/shiba-club/$   index.php?controller=nft&action=show&idC=1 [nc,qsa]
RewriteRule ^produit/baby-shiba-club/$   index.php?controller=nft&action=show&idC=2 [nc,qsa]
RewriteRule ^produit/([0-9]+)/$   index.php?controller=nft&action=edit&idP=$1 [nc,qsa]
RewriteRule ^produit/ajouter/$   index.php?controller=nft&action=add [nc]
RewriteRule ^produit/del/([0-9]+)/$   index.php?controller=nft&action=delete&idP=$1 [nc,qsa]
RewriteRule ^client/$   index.php?controller=client&action=show [nc]
RewriteRule ^client/([0-9]+)/$   index.php?controller=client&action=edit&idC=$1 [nc,qsa]
RewriteRule ^client/ajouter/$   index.php?controller=client&action=add [nc]
RewriteRule ^client/del/([0-9]+)/$   index.php?controller=client&action=delete&idC=$1 [nc,qsa]
RewriteRule ^catégorie/$   index.php?controller=categorie&action=show [nc]
RewriteRule ^catégorie/([0-9]+)/$   index.php?controller=categorie&action=edit&idC=$1 [nc,qsa]
RewriteRule ^catégorie/ajouter/$   index.php?controller=categorie&action=add [nc]
RewriteRule ^catégorie/del/([0-9]+)/$   index.php?controller=categorie&action=delete&idC=$1 [nc,qsa]


